body {
	margin: 40px;

}
#container {
	width: 100%;
}

header {
	width: 100%;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	padding-left: 100px;
	padding-top: 10px;
}

#first-menu {
	display: inline-block;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 1px solid #CCCCCC;
	background: white;
	position: absolute;
	left: 0;
}

.icon-pinterest {
	color: #BD081C;
	font-size: 38px;
	margin-left: 75px;
	position: absolute;
	vertical-align: middle;
	z-index: 1;
	top: 0;
	left: 0px;
}

/* Pos relative, so we can put the icons on top */
#search-bar {
	width: 67%;
  	vertical-align: middle;
  	white-space: nowrap;
  	position: relative;
  	display: inline-block;
  	margin-left: 130px;
}

.icon-search {
	position: absolute;
	bottom: 8px;
	margin-left: 17px;
  	margin-top: 17px;
  	z-index: 1;
  	font-size: 25px;
	color: #b5b5b5;
}

#search {
	width: 95%;
	height: 40px;
	background-color: #EFEFEF;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-weight: 900;
	border: 0;
	cursor: pointer;
	/*float: left;*/
	padding-left: 45px;
  	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
}

#icons-1 {
	position: absolute;
	bottom: 12px;
	right: 30px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 700;
	font-size: 16px;
}

.icon-close {
	margin-right: 10px;
}

#icons-2 {
	display: inline-block;
	width: 15%;
	color: #B5B5B5;
	font-size: 20px;
	position: absolute;
	bottom: 3px;
}

.icon-user, .icon-bars, .icon-commenting {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	vertical-align: middle;
	float: left;
}

#tags {
	display: inline-block;
	width: 100%;
	box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
	position: fixed;
	background-color: white;
	top: 63px;
	left: 0;
	padding-top: 0;
}

#second-menu a {
	display: block;
	text-decoration: none;
	color: white;
}

#second-menu ul {
	list-style: none;
	margin-left: 28%;
	margin-right: 28%;
}

#second-menu li {
	color: white;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 700;
	font-size: 16px;
	display: inline-block;
	height: 60px;
	border-radius: 6px;
	line-height: 63px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
	font-weight: 900;
	background-image: url("../img/steven-universe.jpg");
	box-shadow: inset 0 0 0 1000px rgba(255,0,0,0.3);
}


/* Read this for further info: http://w3bits.com/css-masonry/ */ 
section {
	column-count: 4;
    column-gap: 1em;
    margin-top: 200px;
}

img {
	border-radius: 5%;
	max-width: 300px;
	display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}



@media screen and (max-width: 800px) {

}